# Découverte du langage SQL

> Cours NSI Terminale - Thème 2.

- toc: true 
- badges: true
- comments: false
- categories: [python, NSI, Terminale, Bases de donnees, SQL, TP]
- image: /images/nsi2.png

Dans ce TP jous allons découvrir le langage SQL (*Structured Query Language*) qui est le langage utilisé pour
effectuer des requêtes sur une base de données relationnelles. Nous apprendrons lors de ce TP à
- créer des tables avec les attributs que l'on souhaite
- insérer des enregistrements
- faire des requêtes sur la base pour extraire des informations

Contrairement aux apparences, nbous n'utiliserons pas Python dans ce classeur, mais directement SQL grâce à l'extension **ipython-sql** qu'il faut activer en validant la cellule suivante :

In [ ]:
%load_ext sql

En cas d'erreurs lors du chargement de l'extension, vous pouvez tenter de réinstaller les paquets nécessaires via les commandes
 ```bash
pip install jupyter-sql
pip install ipython-sql
sudo apt install python3-sql
```
puis relancer jupyter.

## Créer la base de données

Nous allons commencer par créer une base vide dans laquelle nous allons travailler :

In [ ]:
%sql sqlite:///livres_db

La base s'appelle **livres_db** et est au format *sqlite* qui est un gestionnaire de base de données relationnelles léger et facile à prendre en main.

Les données seront inscrites dans le fichier **livres_db** qui vient d'être créé à côté de ce classeur et que vous pourrez télécharger quand vous aurez fini ce TP.

L'objectif est de peupler cette base de données avec la base **livres** que l'on a étudié lors de la découverte du modèle relationnel. Cette base sera constituée de 3 tables :
- AUTEURS
- LIVRES
- NOTES

## Créer une table

Il est temps de commencer à peupler notre base de données. Nous allons commencer par la table **AUTEURS**. Nous allons donc saisir notre première requête :

In [ ]:
%%sql 
CREATE TABLE "AUTEURS" (
	"id"	    INTEGER  PRIMARY KEY,
	"nom"	    TEXT,
	"prenom"    TEXT,
	"langue"    TEXT,
	"annee_nai"	INTEGER
);

### Quelques explications :

Pour commencer, dans jupyter lorsque nous voudront taper une commande **SQL** et non du la,gage python, nous inscrirons **en première ligne de cellule** la commande *magique* `%%sql`. N'oubliez jamais de commencer toutes vos cellules ainsi car sinon, la commande sera interprétée par *python* qui ne connait pas le langage SQL et provoquera une erreur.

La première requête **SQL** que nous allons apprendre est la requête `CREATE TABLE`
- on insique le nom de la table à créer
- entre parenthèse on liste les *attributs* à mettre ainsi que leur *type*.
- une requête se termine **toujours** par ;

Nous avons deux types différents dans notre base de données :
- le type TEXT pour tout ce qui est chaîne de caractères
- le type INTEGER pour les entiers

L'attribut **id** est la *clé primaire* de la table. C'est un entier qui commence à 1 et qui sera automatiquement incrémenté au fur à mesure que l'on insère des données dans la table. C'est en indiquant `PRIMARY KEY` après le type dans la déclaration de l'attribut **id** que *sqlite* se comporte ainsi.

## Insérer des enregistrements dans la table

Maintenant que nous avons une table vide, il nous faut la remplir avec les données sur les auteurs. Nous utiliserons pour cela la requête **INSERT**. Voici son utilisation :

In [ ]:
%%sql 
INSERT INTO AUTEURS 
    (nom, prenom, langue, annee_nai)
VALUES
    ("Orwell", "George", "Anglais", 1903),
    ("Herbert", "Frank", "Anglais", 1920),
    ("Asimov", "Isaac", "Anglais", 1920),
    ("Huxley", "Aldous", "Anglais", 1894),
    ("Bradbury", "Ray", "Anglais", 1920),
    ("K. Dick", "Philip", "Anglais", 1928),
    ("Barjavel", "René", "Français", 1911),
    ("Boulle", "Pierre", "Français", 1912),
    ("Van Vogt", "Alfred Elton", "Anglais", 1912),
    ("Verne", "Jules", "Français", 1828);

### Quelques explications :

La requête **INSERT** s'utilise ainsi :
```
INSERT INTO ##TABLE##
    (## attributs dont on donne les valeurs##)
VALUES
    (## enregistrement 1 ##),
    ...
    (## enregistrement n ##);
```

On peut refaire une autre requête **INSERT** à la suite si on qouhaite ajouter encore des données au bout de la table. 

Vous remarquez que l'on ne donne pas de valeur pour l'attribut **id**. C'est parce qu'on l'a déclaré en `PRIMARY KEY`. Il est donc automatiquement géré par sqlite. Nous verrons cela en lisant le cpontenu complet de la table.

On est pas obligé de préciser tous les attributs. **id** est un exemple particulier, mais il est possible d'ommetre d'autres attributs. Ils seront alors affectés d'une valeur nulle.

A l'issue de la requête, sqlite nous informe que 10 lignes ont été créées.

## Lire le contenu d'une table

Nous allons à présent utiliser une requête **SELECT** afin de récupérer le contenu de la table. Ces requêtes peuvent être très sophistiquées comme on va le voir en fin de TP. Pour le moment, nous nous contenterons de la forme la plus simple :

In [ ]:
%%sql

SELECT * FROM AUTEURS;

Vous voyez donc appraître le contenbu de la table. Vous constatez que la clé primaire **id** a bien été générée correctement.

Il est possible de stoquer le résultat de cette requête dans une variable pour l'exploiter plus facilement dans jupyter? Voici comment procéder en modifiant légèrement la première ligne :

In [ ]:
resultat = %sql SELECT * FROM AUTEURS;

Vous voyez au passage la syntaxe concise permettant de récupérer le résultat d'une requête dans une variable. Cette variable `résultat` est exploitable dans ce classeur, y compris par python !!

In [ ]:
resultat

In [ ]:
print(resultat)

In [ ]:
resultat[2]

On a donc ici le meilleur des deux mondes : des requêtes **SQL** et une base de données pour stocker efficacement les données, le langage python pour traiter ces données grâce à des algorithmes faciles à écrire.

## A vous de jouer

Notre base n'est pas encore complète : il nous reste à créer les tables **LIVRES** et **NOTES** qui doivent refléter le contenu suivant :

|           titre           |   nom    |    prenom    | annee_nai |  langue  | ann_publi | note |
|---------------------------|----------|--------------|-----------|----------|-----------|------|
|            1984           |  Orwell  |    George    |    1903   | Anglais  |    1949   |  10  |
|            Dune           | Herbert  |    Frank     |    1920   | Anglais  |    1965   |  8   |
|         Fondation         |  Asimov  |    Isaac     |    1920   | Anglais  |    1951   |  9   |
|   Le meilleur des mondes  |  Huxley  |    Aldous    |    1894   | Anglais  |    1931   |  7   |
|       Fahrenheit 451      | Bradbury |     Ray      |    1920   | Anglais  |    1953   |  7   |
|            Ubik           | K. Dick  |    Philip    |    1928   | Anglais  |    1969   |  9   |
|   Chroniques martiennes   | Bradbury |     Ray      |    1920   | Anglais  |    1950   |  8   |
|     La nuit des temps     | Barjavel |     René     |    1911   | Français |    1968   |  7   |
|        Blade Runner       | K. Dick  |    Philip    |    1928   | Anglais  |    1968   |  8   |
|         Les Robots        |  Asimov  |    Isaac     |    1920   | Anglais  |    1950   |  9   |
|   La Planète des singes   |  Boulle  |    Pierre    |    1912   | Français |    1963   |  8   |
|           Ravage          | Barjavel |     René     |    1911   | Français |    1943   |  8   |
| Le Maître du Haut Château | K. Dick  |    Philip    |    1928   | Anglais  |    1962   |  8   |
|       Le monde des A      | Van Vogt | Alfred Elton |    1912   | Anglais  |    1945   |  7   |
|    La Fin de l’éternité   |  Asimov  |    Isaac     |    1920   | Anglais  |    1955   |  8   |
|   De la Terre à la Lune   |  Verne   |    Jules     |    1828   | Français |    1865   |  10  |

### La table LIVRES

La table **LIVRES** devra avoir la structure décrite dans l'extrait suivant :

| id |           titre           | id_auteur | ann_publi |
|----|---------------------------|-----------|-----------|
| ...  |            ...          |     ...     |    ...   |
| 8  |     La nuit des temps     |     7     |    1968   |
| ...  |            ...          |     ...     |    ...   |

- l'année de publication est de type **INTEGER**
- **id** désigne bien sûr la clé primaire
- **id_auteur** est une *clé externe* faisant référence à l'auteur.
- dans l'extrait, la clé **id_auteur** vaut 7. L'auteur de *La nuit des temps* est donc *Barjavel*
- on ne renseigne pas la langue ou l'année de naissance de l'auteur car ces informations sont déjà présentes dans la table **AUTEURS**.

In [ ]:
%%sql

/* 
# YOUR CODE HERE
raise NotImplementedError()
*/

Vérifiez votre travail en lisant tous les enregistrements de la table **LIVRES*** dans la variable `resultat`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
resultat

In [ ]:
assert (1, '1984', 1, 1949) in resultat

### La table NOTES

Terminons avec la table **NOTES**. Celle-ci devra avoir la structure décrite dans l'extrait suivant :

| id | id_livre | note |
|----|----------|------|
| ...  |   ...     |  ...  |
| 7  |    7     |  8   |
| ...  |   ...     |  ...  |

- la note est un entier
- **id** désigne bien sûr la clé primaire
- **id_livre** est une *clé externe* faisant référence au livre évalué.
- dans l'extrait, la clé **id_livre** vaut 7 : il s'agit des *Chroniques martiennes* qui a eu la note 8.

In [ ]:
%%sql 

/* 
# YOUR CODE HERE
raise NotImplementedError()
*/

Vérifiez votre travail en lisant tous les enregistrements de la table **NOTES*** dans la variable `resultat`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
resultat

In [ ]:
assert (1, 1, 10) in resultat

Notre base de données est à présent complète. Nous allons voir à présent comment faire des requêtes plus élaborées, en particulier en mettant en place des filtres et des tris.

## Aller plus loin avec SELECT

### Filtre dans une requete SELECT

Supposons que l'on veuille lister seulement les noms et prénoms des auteurs nés avant 1900, voici comment procéder :

In [ ]:
%sql SELECT nom, prenom from AUTEURS WHERE annee_nai < 1900;

### Compter le nombre de réponses d'une requête SELECT

Combien y a t-il d'auteurs nés entre 1900 et 1915 ?

In [ ]:
nbr = %sql SELECT COUNT(*) from AUTEURS WHERE annee_nai >= 1900 AND annee_nai<=1915;

print(nbr)
print("récupérer juste le nombre : ", nbr[0][0])

### Sélectionner des éléments distincts

Je m'intéresse au différentes langues des auteurs. Si je fais la requête :

In [ ]:
%sql SELECT  langue from AUTEURS

cette requête affiche plein de doublons. On peut les enlever grâce à l'utilisation du mot clé **DISTINCT**.

In [ ]:
%sql SELECT  DISTINCT langue from AUTEURS

### Trier les réponses

Nous allons lister tous les auteurs par ordre croissant d'année de naissance

In [ ]:
%sql SELECT * from AUTEURS ORDER BY annee_nai;

et par ordre décroissant, on ajoute **DESC** à la fin de la requête

In [ ]:
%sql SELECT * from AUTEURS ORDER BY annee_nai DESC;

### A vous de jouer

1. Donner la liste de tous les titres des livres écrits entre 1920 et 1950.
1. Combien y en a t-il ?

In [ ]:
# Utilisez cette cellule en brouillon pour vos requetes

In [ ]:
# Utiliser la syntaxe courte 
# reponse_i = %sql VOTRE REQUETE pour i=1 ou i=2

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Vérification des réponses

assert reponse_1[3][0] == 'Les Robots'
assert reponse_2[0][0] == 6

Il est temps de voir comment réunir les différentes tables afin d'obtenir en un seul tableau les informations souhaitées.

## Jointure des tables

Nous voulons récupérer la liste des titres des livres avec le nom de leur auteur. Il faut pour cela piocher les informations dans deux tables différentes en utilisant l'attribut **id_auteur** comme *clé de jointure*.

In [ ]:
%sql SELECT titre, nom FROM LIVRES JOIN AUTEURS ON LIVRES.id_auteur = AUTEURS.id;

Dans l'exemple ci-dessus, nous avons **JOIN** *LIVRES* à *AUTEURS* en utilisant la clé externe `LIVRES.id_auteur` comme étant la clé primaire de la table *AUTEURS*.

### A vous de jouer

1. récupérer dans la variable `reponse_1` une liste dont les attributs sont **titre**, **note** et **ann_publi** dans cet ordre.
1. récupérer dans la variable `reponse_2` une liste dont les attributs sont **titre**, **prenom**, **nom** et **ann_publi** mais triée par ordre de **note** décroissant.
1. récupérer dans la variable `reponse_3` une liste dont les attributs sont **titre**, **prenom**, **nom** et **ann_publi** mais dont la note est au moins 9.

In [ ]:
# Donner les réponses dans les variables reponse_i en utilisant la syntaxe courte
# reponse_i = %sql SELECT blablabla

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Utilisez cette cellule en brouillon pour vos requetes

In [ ]:
assert reponse_1[0] == ('1984',10,1949)
assert reponse_2[0] == ('1984',"George","Orwell",1949)

## Mise a jour, effacement : UPDATE et DELETE

Les requêtes **UPDATE** et **DELETE** fonctionnent sur le même modèle que les requêtes **SELECT**.  Attention, on a vite fait d'effacer toutes ses données si on ne configure pas bien sa requête. Une bonne habitude à prendre est de tester d'abord ses critères à l'aide d'un **SELECT**.

Observez les exemples ci-dessous :

In [ ]:
%%sql

SELECT id FROM AUTEURS WHERE nom='Verne'

In [ ]:
%%sql 
UPDATE AUTEURS SET nom="Ze Djoule" WHERE id=10 ;

SELECT * FROM AUTEURS ;

In [ ]:
%%sql 

DELETE  FROM AUTEURS  WHERE id=10;

SELECT * FROM AUTEURS;

### A vous de jouer

1. Réinsérez l'auteur Jules Verne !
1. Modifiez les notes afin de mettre 10 à chaque note égale ou inférieure à 8
1. Supprimez tous les livres écrits au 19e sciecle

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Vérification de la présence de Jules
res = %sql SELECT COUNT(*) FROM AUTEURS WHERE nom="Verne"
assert res[0][0] == 1
# Vérification de l'absence de notes <=8
res = %sql SELECT COUNT(*) FROM NOTES WHERE note <= 8
assert res[0][0] == 0
# Vérification de l'absence de livres du 19e
res = %sql SELECT COUNT(*) FROM LIVRES WHERE ann_publi <= 1900
assert res[0][0] == 0

### Attention à la cohérence des données

Dans une base de données relationnelle il faut être vigilant lors de la suppression d'enregistrements : en effet la suppression d'en enregistement entraîne la suppression de sa clé primaire qui peut être utilisée en tant que clé externe dans une autre table. Cela entraîne la corruption des données.

Il existe en SQL des moyens pour se prémunir de ce type de problèmes mais cela dépasse le cadre de ce cours.